/* CSS 3 Document */

body {
    background-color: #ffffff;
    font-family: "Arial", sans-serrif;
}

#main,
#thelist {
    background-color: #fff;
    text-align: center;
}

#thelist {
    padding-bottom: 10px;
}

.theresult {
    font-size: 16pt;
}

.group {
    font-size: 20pt;
    text-align: left;
}

#bar {
    background-color: #2c3e50;
    font-size: 16pt;
}

.spinner {
    width: 25%;
    display: block;
    margin: auto;
}

#spin-button {
    position: relative;
}

@media only screen and ( max-width: 1028px ) {
    /* For medium devices */

    .group {
        font-size: 18pt;
        text-align: left;
    }

    .spinner {
        width: 50%;
        display: block;
        margin: auto;
    }
}

@media only screen and ( max-width: 414px ) {
    /* For mobile devices */

    .group {
        font-size: 14pt;
        text-align: left;
    }

    #bar {
        position: fixed;
        bottom: 0px;
        font-size: 10pt;
    }

    #thelist {
        padding-bottom: 40px;
    }

    .spinner {
        width: 100%;
        display: block;
        margin: auto;
    }
}