<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference:
     https://build.phonegap.com/docs/config-xml -->


<widget xmlns 	  = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        version   = "1.0.0">

	<!--
		id: the unique identifier for your application. 
		To support all supported platforms, this must be 
		reverse-domain name style 
		(e.g. com.yourcompany.yourapp)		
		
		NOTE:  This causes a distinct app to be installed.
			   if the id is the same the app overwrites
			   an existing app of same id, regardless of
			   the name element below and regardless of
			   the filename!		
		-->
		
    <name>RCCC Small Group</name>
    <description>With this app, you can randomly choose which person in your small group to close in prayer.</description>
    <author href="" email="maxkung06@gmail.com">Max Kung</author>

    <!-- Define app icon for each platform. -->
    <icon src="www/img/logo.png" />

	 <preference name="phonegap-version" value="cli-6.5.0" />

</widget>