<!DOCTYPE html>
<html ng-app="plunker">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Closing Prayer Randomizer</title>
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <!-- JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script data-require="angular.js@1.5.x" src="js/angular.min.js" data-semver="1.5.11"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="" ng-controller="MainCtrl">
    <div class="container col-sm-12">
        <ul id="bar" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#thelist"><span class="glyphicon glyphicon-list"></span> 1. <span class="kkk">{{ attendance(selectedLanguage) }}</span></a></li>
            <li><a data-toggle="tab" href="#qa-timer"><span class="glyphicon glyphicon-list-alt"></span> 2. <span class="kkk">{{ qa(selectedLanguage) }}</span></a></li>
            <li><a data-toggle="tab" href="#main"><span class="glyphicon glyphicon-download-alt"></span> 3. <span class="kkk">{{ closingtime(selectedLanguage) }}</span></a></li>
            <li><a data-toggle="tab" href="#pr-timer"><span class="glyphicon glyphicon-time"></span> 4. <span class="kkk">{{ prayer(selectedLanguage) }}</span></a></li>
            <li><a data-toggle="tab" href="#settings"><span class="glyphicon glyphicon-cog"></span> <span class="kkk">{{ settings(selectedLanguage) }}</span></a></li>
        </ul>
        <div class="tab-content">
            <!-- List Tab -->
            <div id="thelist" class="tab-pane fade in active">
                <form name="myform" ng-submit="addIt()" class="input-group">
                    <input type="text" class="form-control input-lg" id="name" name="box" placeholder="{{ nameplace(selectedLanguage) }}" onkeydown="" ng-model="name" ng-disabled="spinning" required>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success btn-lg" ng-click="addIt()" ng-disabled="myform.box.$error.required">{{ add(selectedLanguage) }}</button>
                        <button type="button" class="btn btn-danger btn-lg" ng-click="reset()" ng-disabled="list.length == 0 || spinning">{{ clear(selectedLanguage) }}</button>
                    </div>
                </form>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2>{{ listof(selectedLanguage) }}</h2>
                        <h4>{{ totalcount(selectedLanguage) }}: {{ list.length }}</h4>
                    </div>
                    <div class="panel-body">
                        <p class="group" ng-repeat="n in list track by $index">{{n}}</p>
                    </div>
                </div>
            </div>
            <!-- QA Timer Tab -->
            <div id="qa-timer" class="tab-pane fade">
                <h1>{{ qa(selectedLanguage) }}</h1>
                <p class="timercount">{{ timer1 }}</p>
                <p ng-if="!runtimer1"><button type="button" class="btn btn-success btn-lg btn-block" ng-click="countdown1()">{{ startbutton(selectedLanguage) }}</button></p>
                <p ng-if="runtimer1"><button type="button" class="btn btn-danger btn-lg btn-block" ng-click="endcountdown1()">{{ stopbutton(selectedLanguage) }}</button></p>
            </div>
            <!-- Main Tab -->
            <div id="main" class="tab-pane fade">
                <h1>{{ whoshall(selectedLanguage) }}?</h1>
                <p class="theresult" ng-if='selectedLanguage == "0"'>{{ result0 }}</p>
                <p class="theresult" ng-if='selectedLanguage == "1"'>{{ result1 }}</p>
                <p class="theresult" ng-if='selectedLanguage == "2"'>{{ result2 }}</p>
                <p ng-if="!spinning"><img src="img/fidget-spinner-green.png" class="spinner" alt="Fidget toy" /></p>
                <p ng-if="spinning"><img src="img/hand-spinner-fidget-toy.gif" class="spinner" alt="Fidget toy" /></p>
                <p ng-if="!spinning"><button type="button" id="spin-button" class="btn btn-default btn-lg btn-block" ng-click="myFunction()" ng-disabled="list.length < 2 || spinning">{{ gobutton(selectedLanguage) }}</button></p>
            </div>
            <!-- Prayer Timer Tab -->
            <div id="pr-timer" class="tab-pane fade">
                <h1>{{ prayer(selectedLanguage) }}</h1>
                <p class="timercount">{{ timer2 }}</p>
                <p ng-if="!runtimer2"><button type="button" class="btn btn-success btn-lg btn-block" ng-click="countdown2()">{{ startbutton(selectedLanguage) }}</button></p>
                <p ng-if="runtimer2"><button type="button" class="btn btn-danger btn-lg btn-block" ng-click="endcountdown2()">{{ stopbutton(selectedLanguage) }}</button></p>
            </div>
            <!-- Settings Tab -->
            <div id="settings" class="tab-pane fade">
                <div class="list-group">
                    <label for="selectedLanguage">{{ language(selectedLanguage) }}:</label>
                    <select class="form-control" id="selectedLanguage" ng-model="selectedLanguage">
                        <option value="0">English</option>
                        <option value="1">繁体中文</option>
                        <option value="2">简体中文</option>
                    </select>
                    <hr />
                    <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal">{{ about(selectedLanguage) }}</button>
                </div>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{ about(selectedLanguage) }}</h4>
                            </div>
                            <div class="modal-body">
                                <p>Created by Max Kung</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ close(selectedLanguage) }}</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>