<!DOCTYPE html>
<html data-ng-app="plunker" lang="en-US">
<head>
    <title>RCCC Small Group</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script>document.write('<base href="' + document.location + '" />');</script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script data-require="angular.js@1.5.x" src="js/angular.min.js" data-semver="1.5.11"></script>
    <script src="js/ngStorage.js"></script>
    <script src="js/app.js"></script>
</head>
<body data-ng-controller="MainCtrl" data-ng-style="myStyle">
    <ul id="bar" class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#thelist"><i class="fa fa-list-alt"></i> <span class="kkk"><br></span>{{ attendance(selectedLanguage) }}</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#main"><i class="fa fa-spinner"></i> <span class="kkk"><br></span>{{ closingtime(selectedLanguage) }}</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#qa-timer"><i class="fa fa-hourglass"></i> <span class="kkk"><br></span>{{ timerbox(selectedLanguage) }}</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#settings"><i class="fa fa-cog"></i> <span class="kkk"><br></span>{{ extras(selectedLanguage) }}</a></li>
    </ul>
    <div id="mainapp" class="container col-sm-12">
        <div class="tab-content">
            <!-- My List pane -->
            <div id="thelist" class="tab-pane active">
                <div id="listinfo">
                    <div id="listheader">
                        <h3>{{ listof(selectedLanguage) }}</h3>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#confirmModal" data-ng-disabled="list.length == 0 || spinning"><strong>{{ totalcount(selectedLanguage) }}{{ colon(selectedLanguage) }}</strong> {{ list.length }}</button>
                        <!-- Confirm box -->
                        <div class="modal fade" id="confirmModal">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">

                                    <!-- Modal body -->
                                    <div class="modal-body confirm-body">
                                        <p>{{ eraselistcontent(selectedLanguage) }}</p>
                                        <p>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal" data-ng-click="reset()">{{ yes(selectedLanguage) }}</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ no(selectedLanguage) }}</button>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="listbody">
                        <p class="group" data-ng-repeat="n in list track by $index">{{n}}<button data-ng-if="!spinning" data-ng-click="removeItem($index)" class="close">&times;</button></p>
                        <form name="myform" data-ng-submit="addIt()" class="input-group">
                            <input type="text" class="form-control" id="name" name="box" placeholder="{{ nameplace(selectedLanguage) }}" data-ng-model="name" data-ng-disabled="spinning" required>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-success" data-ng-disabled="myform.box.$error.required">{{ add(selectedLanguage) }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Randomizer pane -->
            <div id="main" class="container tab-pane fade">
                <label class="radio-inline btn btn-default"><input type="radio" name="randomizerRadio" data-ng-model="randomizerRadio" data-ng-click="changemode()" data-ng-disabled="spinning" value="st">{{ biblereading(selectedLanguage) }}</label>
                <label class="radio-inline btn btn-default"><input type="radio" name="randomizerRadio" data-ng-model="randomizerRadio" data-ng-click="changemode()" data-ng-disabled="spinning" value="cp">{{ closeprayer(selectedLanguage) }}</label>
                <div data-ng-switch="randomizerRadio">
                    <div class="theintro" data-ng-switch-when="st">{{ whowill(selectedLanguage) }}</div>
                    <div class="theintro" data-ng-switch-when="cp">{{ whoshall(selectedLanguage) }}</div>
                </div>
                <p data-ng-switch="selectedLanguage">
                    <span class="theresult" data-ng-switch-when="0">{{ result0 }}</span>
                    <span class="theresult" data-ng-switch-when="1">{{ result1 }}</span>
                    <span class="theresult" data-ng-switch-when="2">{{ result2 }}</span>
					<span class="theresult" data-ng-switch-when="3">{{ result1 }}</span>
					<span class="theresult" data-ng-switch-when="4">{{ result1 }}</span>
                    <span class="theresult" data-ng-switch-when="5">{{ result2 }}</span>
                </p>
                <span class="spinner-image" data-ng-switch="selectedSpinner" data-ng-if="list.length < 2 && !spinning">
                    <span data-ng-switch-when="0"><img src="img/loading_disabled.jpg" class="spinner" alt="Loading symbol" /></span>
                    <span data-ng-switch-when="1"><img src="img/fidget-disabled.png" class="spinner" alt="Finger spinner" /></span>
                    <span data-ng-switch-when="2"><img src="img/leekspin_disabled.jpg" class="spinner" alt="Hatsune Miku" /></span>
                    <span data-ng-switch-when="3"><img src="img/nes-mario_disabled.jpg" class="spinner" alt="Mario" /></span>
                    <span data-ng-switch-when="4"><img src="img/nyan-cat_disabled.jpg" class="spinner" alt="Nyan Cat" /></span>
                    <span data-ng-switch-when="5"><img src="img/pikachu_disabled.jpg" class="spinner" alt="Pikachu" /></span>
					<span data-ng-switch-when="6"><img src="img/sonic-disabled.png" class="spinner" alt="Sonic" /></span>
					<span data-ng-switch-when="7"><img src="img/bottle-disabled.png" class="spinner" alt="Bottle" /></span>
                </span>
                <span class="spinner-image" data-ng-switch="selectedSpinner" data-ng-if="list.length >= 2 && !spinning" data-ng-click="myFunction()">
                    <span data-ng-switch-when="0"><img src="img/loading-stable.png" class="spinner" alt="Loading symbol" /></span>
                    <span data-ng-switch-when="1"><img src="img/fidget-stable.png" class="spinner" alt="Finger spinner" /></span>
                    <span data-ng-switch-when="2"><img src="img/leekspin.jpg" class="spinner" alt="Hatsune Miku" /></span>
                    <span data-ng-switch-when="3"><img src="img/nes-mario.jpg" class="spinner" alt="Mario" /></span>
                    <span data-ng-switch-when="4"><img src="img/nyan-cat-stable.jpg" class="spinner" alt="Nyan Cat" /></span>
                    <span data-ng-switch-when="5"><img src="img/pikachu.jpg" class="spinner" alt="Pikachu" /></span>
                    <span data-ng-switch-when="6"><img src="img/sonic-stable.png" class="spinner" alt="Sonic" /></span>
					<span data-ng-switch-when="7"><img src="img/bottle-stable.png" class="spinner" alt="Bottle" /></span>
                </span>
                <p class="spinner-image" data-ng-switch="selectedSpinner" data-ng-if="spinning">
                    <span data-ng-switch-when="0"><img src="img/loading.gif" class="spinner" alt="Loading symbol" /></span>
                    <span data-ng-switch-when="1"><img src="img/fidget-spinning.gif" class="spinner" alt="Fidget toy" /></span>
                    <span data-ng-switch-when="2"><img src="img/mikuspinning.gif" class="spinner" alt="Hatsune Miku" /></span>
                    <span data-ng-switch-when="3"><img src="img/mariowalking.gif" class="spinner" alt="Mario" /></span>
                    <span data-ng-switch-when="4"><img src="img/nyan-cat.gif" class="spinner" alt="Nyan Cat" /></span>
                    <span data-ng-switch-when="5"><img src="img/nyan-pikachu.gif" class="spinner" alt="Pikachu" /></span>
                    <span data-ng-switch-when="6"><img src="img/sonic-running.gif" class="spinner" alt="Sonic" /></span>
					<span data-ng-switch-when="7"><img src="img/spinning-bottle.gif" class="spinner" alt="Bottle" /></span>
                </p>
            </div>
            <!-- Timer pane -->
            <div id="qa-timer" class="container tab-pane fade">
                <label class="radio-inline btn btn-default"><input type="radio" name="timerRadio" data-ng-model="timerRadio" data-ng-click="changeTimerRadio()" data-ng-disabled="runtimer1 || runtimer2" value="qa">{{ qa(selectedLanguage) }}</label>
                <label class="radio-inline btn btn-default"><input type="radio" name="timerRadio" data-ng-model="timerRadio" data-ng-click="changeTimerRadio()" data-ng-disabled="runtimer1 || runtimer2" value="pr">{{ prayer(selectedLanguage) }}</label>
                <div data-ng-switch="timerRadio">
                    <h1 data-ng-switch-when="qa">{{ qa(selectedLanguage) }}</h1>
                    <h1 data-ng-switch-when="pr">{{ prayer(selectedLanguage) }}</h1>
                </div>
                <p class="theresult">{{ measured(selectedLanguage) }}</p>
                <p data-ng-switch="selectedTimer">
                    <span class="timercount" data-ng-switch-when="0">
                        <span data-ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span data-ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span data-ng-if='timerRadio=="qa"'><span data-ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span data-ng-if='timerRadio=="pr"'><span data-ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount reverse" data-ng-switch-when="1">
                        <span data-ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span data-ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span data-ng-if='timerRadio=="qa"'><span data-ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span data-ng-if='timerRadio=="pr"'><span data-ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount radar" data-ng-switch-when="2">
                        <span data-ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span data-ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span data-ng-if='timerRadio=="qa"'><span data-ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span data-ng-if='timerRadio=="pr"'><span data-ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount rcccec" data-ng-switch-when="3">
                        <span data-ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span data-ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span data-ng-if='timerRadio=="qa"'><span data-ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span data-ng-if='timerRadio=="pr"'><span data-ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount n-strike" data-ng-switch-when="4">
                        <span data-ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span data-ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span data-ng-if='timerRadio=="qa"'><span data-ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span data-ng-if='timerRadio=="pr"'><span data-ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount rebelle" data-ng-switch-when="5">
                        <span data-ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span data-ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span data-ng-if='timerRadio=="qa"'><span data-ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span data-ng-if='timerRadio=="pr"'><span data-ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount usa" data-ng-switch-when="6">
                        <span data-ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span data-ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span data-ng-if='timerRadio=="qa"'><span data-ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span data-ng-if='timerRadio=="pr"'><span data-ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount china" data-ng-switch-when="7">
                        <span data-ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span data-ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span data-ng-if='timerRadio=="qa"'><span data-ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span data-ng-if='timerRadio=="pr"'><span data-ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount taiwan" data-ng-switch-when="8">
                        <span data-ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span data-ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span data-ng-if='timerRadio=="qa"'><span data-ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span data-ng-if='timerRadio=="pr"'><span data-ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount hongkong" data-ng-switch-when="9">
                        <span data-ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span data-ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span data-ng-if='timerRadio=="qa"'><span data-ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span data-ng-if='timerRadio=="pr"'><span data-ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                </p>
                <p data-ng-if='!runtimer1 && timerRadio=="qa"'><button type="button" class="btn btn-success btn-lg btn-block" data-ng-click="countdown1()">{{ startbutton(selectedLanguage) }}</button></p>
                <p data-ng-if='runtimer1 && timerRadio=="qa"'><button type="button" class="btn btn-danger btn-lg btn-block" data-ng-click="endcountdown1()">{{ stopbutton(selectedLanguage) }}</button></p>
                <p data-ng-if='!runtimer2 && timerRadio=="pr"'><button type="button" class="btn btn-success btn-lg btn-block" data-ng-click="countdown2()">{{ startbutton(selectedLanguage) }}</button></p>
                <p data-ng-if='runtimer2 && timerRadio=="pr"'><button type="button" class="btn btn-danger btn-lg btn-block" data-ng-click="endcountdown2()">{{ stopbutton(selectedLanguage) }}</button></p>
            </div>
            <!-- Extras pane -->
            <div id="settings" class="container tab-pane fade">
                <h3>{{ settings(selectedLanguage) }}</h3>
                <div class="list-group">
                    <label for="selectedLanguage">{{ language(selectedLanguage) }}{{ colon(selectedLanguage) }}</label>
                    <select class="form-control" id="selectedLanguage" data-ng-model="selectedLanguage" data-ng-change="changeLanguage()" data-ng-style="innerStyle">
                        <option value="0">English</option>
                        <option value="1">繁体中文</option>
						<option value="3">繁体中文 (注音)</option>
						<option value="4">繁体中文 (漢語拼音)</option>
                        <option value="2">简体中文</option>
                        <option value="5">简体中文 (拼音)</option>
                    </select>
                    <label for="selectedSpinner">{{ closingtime(selectedLanguage) }}{{ spinningthing(selectedLanguage) }}{{ colon(selectedLanguage) }}</label>
                    <select class="form-control" id="selectedSpinner" data-ng-model="selectedSpinner" data-ng-change="changeSpinner()">
                        <option value="0">{{ spinnerLoadingSymbol(selectedLanguage) }}</option>
                        <option value="1">{{ spinnerFidget(selectedLanguage) }}</option>
                        <option value="7">{{ spinnerBottle(selectedLanguage) }}</option>
                        <option value="2">{{ spinnerMiku(selectedLanguage) }}</option>
                        <option value="3">{{ spinnerMario(selectedLanguage) }}</option>
                        <option value="4">{{ spinnerNyanCat(selectedLanguage) }}</option>
                        <option value="5">{{ spinnerPikachu(selectedLanguage) }}</option>
                        <option value="6">Sonic the Hedgehog</option>
                    </select>
                    <label for="selectedTimer">{{ timerbox(selectedLanguage) }}{{ theme(selectedLanguage) }}{{ colon(selectedLanguage) }}</label>
                    <select class="form-control" id="selectedTimer" data-ng-model="selectedTimer" data-ng-change="changeTimer()">
                        <option value="0">{{ defaulttimer(selectedLanguage) }}</option>
                        <option value="1">{{ timerTheme1(selectedLanguage) }}</option>
                        <option value="2">Game Boy</option>
                        <option value="3">RCCC EC</option>
                        <option value="4">Dart tag</option>
                        <option value="5">Pinkie Pie</option>
                        <option value="6">{{ timerTheme6(selectedLanguage) }}</option>
                        <option value="7">{{ timerTheme7(selectedLanguage) }}</option>
                        <option value="8">{{ timerTheme8(selectedLanguage) }}</option>
                        <option value="9">{{ timerTheme9(selectedLanguage) }}</option>
                    </select>
                </div>
                <br>
                <h3>{{ about(selectedLanguage) }}</h3>
                <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal1">{{ terms(selectedLanguage) }}</button>
                <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal2">{{ credits(selectedLanguage) }}</button>
                <div id="myModal1" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{ terms(selectedLanguage) }}</h4>
                            </div>
                            <div class="modal-body" data-ng-style="innerStyle">
                                <p class="terms-body"><!-- Terms of Use -->
            Terms are available in English (US) only. By using this app, you agree with these terms and
            conditions. Otherwise, you should not be using the application. You can only agree with these
            terms if you're age 12 or older. We may update these terms periodically. Thank you for using
            RCCC Small Group. Please take some time to read the user agreement
            before using this app. </p><ol class="terms-body">
            <li><strong>
            Age Restrictions:</strong> We suggest that children under the age of 12 should not be using
                                       this app alone without guidance from someone at least 12 years of
                                       age.
            </li><li><strong>
            Fellowship Groups:</strong> You must be a counselor, caretaker, or group leader to use the
                                        app, or to provide guidance for using the app. Other church staff
                                        (such as pastors, elders, and deacons) are also welcome to use it.
                                        Official baptism is not required.
            </li><li><strong>
            Liability:</strong> By default, we are not responsible for any damages, or data loss. We
                                respect your privacy and we do not collect any personal information.
            </li><li><strong>
            Warranty Information:</strong> We don't do warranties. This app was created for offline use,
                                           and your own access is at your personal risk. We don't take
                                           responsibility for its use and misuse.
                                </li>
                                </ol>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ close(selectedLanguage) }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="myModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{ credits(selectedLanguage) }}</h4>
                            </div>
                            <div class="modal-body" data-ng-style="innerStyle">
                                <p class="credit-p"><!-- Credits -->
                                    <span class="credit-title">Development</span><br>
                                    <span class="credit-person">Max Kung</span>
                                </p>
                                <p class="credit-p">
                                    <span class="credit-title">Special thanks</span><br>
                                    <span class="credit-person">Antioch Hwang</span><br>
                                    <span class="credit-person">Rutgers Community Christian Church</span>
                                </p>
                                <p class="credit-p">
                                    <span class="credit-title">Disclaimer</span>
                                </p>
                                <p class="credit-p">
                                    <span class="credit-symbol">Hatsune Miku</span><br>
                                    <span class="credit-company">Crypton Future Media, Inc.</span>
                                </p>
                                <p class="credit-p">
                                    <span class="credit-symbol">Mario</span><br>
                                    <span class="credit-company">Nintendo Co., Ltd.</span>
                                </p>
                                <p class="credit-p">
                                    <span class="credit-symbol">Nyan Cat</span><br>
                                    <span class="credit-company">YouTube</span>
                                </p>
                                <p class="credit-p">
                                    <span class="credit-symbol">Pikachu</span><br>
                                    <span class="credit-company">The Pokémon Company International</span><br>
                                    <span class="credit-company">Game Freak</span>
                                </p>
                                <p class="credit-p">
                                    <span class="credit-symbol">Sonic</span><br>
                                    <span class="credit-company">SEGA</span>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ close(selectedLanguage) }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
