<!DOCTYPE html>
<html ng-app="plunker">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
    <title>RCCC Small Group</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <!-- CSS Link -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <!-- JavaScript Link -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script data-require="angular.js@1.5.x" src="js/angular.min.js" data-semver="1.5.11"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="" ng-controller="MainCtrl">
    <div id="mainapp" class="container col-sm-12">
        <ul id="bar" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#thelist"><span class="glyphicon glyphicon-list"></span> <span class="kkk">{{ attendance(selectedLanguage) }}</span></a></li>
            <li><a data-toggle="tab" href="#main"><span class="glyphicon glyphicon-download-alt"></span> <span class="kkk">{{ closingtime(selectedLanguage) }}</span></a></li>
            <li><a data-toggle="tab" href="#qa-timer"><span class="glyphicon glyphicon-time"></span> <span class="kkk">{{ timerbox(selectedLanguage) }}</span></a></li>
            <li><a data-toggle="tab" href="#settings"><span class="glyphicon glyphicon-cog"></span> <span class="kkk">{{ extras(selectedLanguage) }}</span></a></li>
        </ul>
        <div class="tab-content">
            <!-- Attendance tab -->
            <div id="thelist" class="tab-pane fade in active">
                <form name="myform" ng-submit="addIt()" class="input-group">
                    <input type="text" class="form-control input-lg" id="name" name="box" placeholder="{{ nameplace(selectedLanguage) }}" onkeydown="" ng-model="name" ng-disabled="spinning" required>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-success btn-lg" ng-disabled="myform.box.$error.required">{{ add(selectedLanguage) }}</button>
                        <button type="button" class="btn btn-danger btn-lg" ng-click="reset()" ng-disabled="list.length == 0 || spinning">{{ clear(selectedLanguage) }}</button>
                    </div>
                </form>
                <div id="listinfo" class="panel panel-info">
                    <div class="panel-heading">
                        <h2>{{ listof(selectedLanguage) }}</h2>
                        <h4>{{ totalcount(selectedLanguage) }}: {{ list.length }}</h4>
                    </div>
                    <div class="panel-body">
                        <p class="group" ng-repeat="n in list track by $index">{{n}}</p>
                        <button type="button" class="btn btn-warning" ng-if="list.length != 0" ng-click="undoname()" ng-disabled="spinning">{{ undobutton(selectedLanguage) }}</button>
                    </div>
                </div>
            </div>
            <!-- Randomizer tab -->
            <div id="main" class="tab-pane fade">
                <label class="radio-inline btn btn-default"><input type="radio" name="randomizerRadio" ng-model="randomizerRadio" ng-disabled="spinning" value="st">{{ biblereading(selectedLanguage) }}</label>
                <label class="radio-inline btn btn-default"><input type="radio" name="randomizerRadio" ng-model="randomizerRadio" ng-disabled="spinning" value="cp">{{ closeprayer(selectedLanguage) }}</label>
                <h1 ng-if='randomizerRadio=="st"'>{{ whowill(selectedLanguage) }}?</h1>
                <h1 ng-if='randomizerRadio=="cp"'>{{ whoshall(selectedLanguage) }}?</h1>
                <p class="theresult" ng-if='selectedLanguage == "0"'>{{ result0 }}</p>
                <p class="theresult" ng-if='selectedLanguage == "1"'>{{ result1 }}</p>
                <p class="theresult" ng-if='selectedLanguage == "2"'>{{ result2 }}</p>
                <p class="spinner-image" ng-if="!spinning">
                    <span ng-if='selectedSpinner == "0"'><img src="img/loading-stable.png" class="spinner" alt="Loading symbol" /></span>
                    <span ng-if='selectedSpinner == "1"'><img src="img/fidget-spinner-green.png" class="spinner" alt="Fidget toy" /></span>
                    <span ng-if='selectedSpinner == "2"'><img src="img/leekspin.jpg" class="spinner" alt="Hatsune Miku" /></span>
                    <span ng-if='selectedSpinner == "3"'><img src="img/nes-mario.jpg" class="spinner" alt="Mario" /></span>
                    <span ng-if='selectedSpinner == "4"'><img src="img/nyan-cat-stable.jpg" class="spinner" alt="Nyan Cat" /></span>
                    <span ng-if='selectedSpinner == "5"'><img src="img/pikachu.jpg" class="spinner" alt="Pikachu" /></span>
                </p>
                <p class="spinner-image" ng-if="spinning">
                    <span ng-if='selectedSpinner == "0"'><img src="img/loading.gif" class="spinner" alt="Loading symbol" /></span>
                    <span ng-if='selectedSpinner == "1"'><img src="img/hand-spinner-fidget-toy.gif" class="spinner" alt="Fidget toy" /></span>
                    <span ng-if='selectedSpinner == "2"'><img src="img/mikuspinning.gif" class="spinner" alt="Hatsune Miku" /></span>
                    <span ng-if='selectedSpinner == "3"'><img src="img/mariowalking.gif" class="spinner" alt="Mario" /></span>
                    <span ng-if='selectedSpinner == "4"'><img src="img/nyan-cat.gif" class="spinner" alt="Nyan Cat" /></span>
                    <span ng-if='selectedSpinner == "5"'><img src="img/nyan-pikachu.gif" class="spinner" alt="Pikachu" /></span>
                </p>
                <p ng-if="!spinning"><button type="button" id="spin-button" class="btn btn-default btn-lg btn-block" ng-click="myFunction()" ng-disabled="list.length < 2 || spinning">{{ gobutton(selectedLanguage) }}</button></p>
            </div>
            <!-- Timer tab -->
            <div id="qa-timer" class="tab-pane fade">
                <label class="radio-inline btn btn-default"><input type="radio" name="timerRadio" ng-model="timerRadio" ng-disabled="runtimer1 || runtimer2" value="qa">{{ qa(selectedLanguage) }}</label>
                <label class="radio-inline btn btn-default"><input type="radio" name="timerRadio" ng-model="timerRadio" ng-disabled="runtimer1 || runtimer2" value="pr">{{ prayer(selectedLanguage) }}</label>
                <h1 ng-if='timerRadio=="qa"'>{{ qa(selectedLanguage) }}</h1>
                <h1 ng-if='timerRadio=="pr"'>{{ prayer(selectedLanguage) }}</h1>
                <p class="theresult">{{ measured(selectedLanguage) }}</p>

                <p>
                    <span class="timercount" ng-if='selectedTimer == "0"'>
                        <span ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span ng-if='timerRadio=="qa"'><span ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span ng-if='timerRadio=="pr"'><span ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount reverse" ng-if='selectedTimer == "1"'>
                        <span ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span ng-if='timerRadio=="qa"'><span ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span ng-if='timerRadio=="pr"'><span ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount radar" ng-if='selectedTimer == "2"'>
                        <span ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span ng-if='timerRadio=="qa"'><span ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span ng-if='timerRadio=="pr"'><span ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount rcccec" ng-if='selectedTimer == "3"'>
                        <span ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span ng-if='timerRadio=="qa"'><span ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span ng-if='timerRadio=="pr"'><span ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount n-strike" ng-if='selectedTimer == "4"'>
                        <span ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span ng-if='timerRadio=="qa"'><span ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span ng-if='timerRadio=="pr"'><span ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount rebelle" ng-if='selectedTimer == "5"'>
                        <span ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span ng-if='timerRadio=="qa"'><span ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span ng-if='timerRadio=="pr"'><span ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount usa" ng-if='selectedTimer == "6"'>
                        <span ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span ng-if='timerRadio=="qa"'><span ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span ng-if='timerRadio=="pr"'><span ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount china" ng-if='selectedTimer == "7"'>
                        <span ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span ng-if='timerRadio=="qa"'><span ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span ng-if='timerRadio=="pr"'><span ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                    <span class="timercount taiwan" ng-if='selectedTimer == "8"'>
                        <span ng-if='timerRadio=="qa"'>{{ minute1 }}</span><span ng-if='timerRadio=="pr"'>{{ minute2 }}</span>:<span ng-if='timerRadio=="qa"'><span ng-if="timer1 <= 9">0</span>{{ timer1 }}</span><span ng-if='timerRadio=="pr"'><span ng-if="timer2 <= 9">0</span>{{ timer2 }}</span>
                    </span>
                </p>

                <p ng-if='!runtimer1 && timerRadio=="qa"'><button type="button" class="btn btn-success btn-lg btn-block" ng-click="countdown1()">{{ startbutton(selectedLanguage) }}</button></p>
                <p ng-if='runtimer1 && timerRadio=="qa"'><button type="button" class="btn btn-danger btn-lg btn-block" ng-click="endcountdown1()">{{ stopbutton(selectedLanguage) }}</button></p>
                <p ng-if='!runtimer2 && timerRadio=="pr"'><button type="button" class="btn btn-success btn-lg btn-block" ng-click="countdown2()">{{ startbutton(selectedLanguage) }}</button></p>
                <p ng-if='runtimer2 && timerRadio=="pr"'><button type="button" class="btn btn-danger btn-lg btn-block" ng-click="endcountdown2()">{{ stopbutton(selectedLanguage) }}</button></p>
            </div>
            <!-- Extras tab -->
            <div id="settings" class="tab-pane fade">
                <h3>{{ settings(selectedLanguage) }}</h3>
                <div class="list-group">
                    <label for="selectedLanguage">{{ language(selectedLanguage) }}:</label>
                    <select onchange="saveThis()" class="form-control" id="selectedLanguage" ng-model="selectedLanguage">
                        <option value="0">English</option>
                        <option value="1">繁体中文</option>
                        <option value="2">简体中文</option>
                    </select>
                    <label for="selectedSpinner">{{ closingtime(selectedLanguage) }}{{ spinningthing(selectedLanguage) }}:</label>
                    <select onchange="saveThis()" class="form-control" id="selectedSpinner" ng-model="selectedSpinner">
                        <option value="0">{{ spinnerLoadingSymbol(selectedLanguage) }}</option>
                        <option value="1">{{ spinnerFidget(selectedLanguage) }}</option>
                        <option value="2">{{ spinnerMiku(selectedLanguage) }}</option>
                        <option value="3">{{ spinnerMario(selectedLanguage) }}</option>
                        <option value="4">{{ spinnerNyanCat(selectedLanguage) }}</option>
                        <option value="5">{{ spinnerPikachu(selectedLanguage) }}</option>
                    </select>
                    <label for="selectedTimer">{{ timerbox(selectedLanguage) }}:</label>
                    <select onchange="saveThis()" class="form-control" id="selectedTimer" ng-model="selectedTimer">
                        <option value="0">{{ defaulttimer(selectedLanguage) }}</option>
                        <option value="1">{{ timerTheme1(selectedLanguage) }}</option>
                        <option value="2">Game Boy</option>
                        <option value="3">RCCC EC</option>
                        <option value="4">Dart tag</option>
                        <option value="5">Heart guardian</option>
                        <option value="6">{{ timerTheme6(selectedLanguage) }}</option>
                        <option value="7">{{ timerTheme7(selectedLanguage) }}</option>
                        <option value="8">{{ timerTheme8(selectedLanguage) }}</option>
                    </select>
                </div>
                <h3>{{ about(selectedLanguage) }}</h3>
                <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal1">{{ terms(selectedLanguage) }}</button>
                <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal2">{{ credits(selectedLanguage) }}</button>
                <!-- Terms Modal -->
                <div id="myModal1" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Terms Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{ terms(selectedLanguage) }}</h4>
                            </div>
                            <div class="modal-body">
                                <p>
            Terms are available in English (US) only. By using this app, you agree with these terms and
            conditions. Otherwise, you should not be using the application. You can only agree with these
            terms if you're 12 or older. We may update these terms periodically, but we won't ruin your
            fun. Thank you for using RCCC Small Group. Please take some time to read this user agreement
            before using this app. </p><ol>
            <li><strong>
            Age Restrictions:</strong> We suggest that children under the age of 12 should not be using
                                       this app alone without guidance from someone at least 12 years of
                                       age.
            </li><li><strong>
            Fellowship Groups:</strong> You must be a counselor, caretaker, or group leader to use the
                                        app, or to provide guidance for using the app. Other church staff
                                        (such as pastors, elders, and deacons) are also welcome to use it.
                                        Official baptism is not required.
            </li><li><strong>
            Liability:</strong> By default, we are not responsible for any damages, or data loss. We
                                respect your privacy and we do not collect any personal information.
            </li><li><strong>
            Warranty Information:</strong> We don't do warranties. This app was created for offline use,
                                           and your own access is at your personal risk. We don't take
                                           responsibility for its use and misuse.
                                </li>
                                </ol>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ close(selectedLanguage) }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Credits Modal -->
                <div id="myModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Credits Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{ credits(selectedLanguage) }}</h4>
                            </div>
                            <div class="modal-body">
                                <p>Designed by Max Kung</p>
                                <p>Programmed by Max Kung</p>
                                <p>Special thanks to Antioch Hwang and spin the bottle game</p>
                                <p>Programming:
                                    <ul>
                                        <li>HTML 5</li>
                                        <li>CSS 3 <img style="border:0;width:88px;height:31px" src="img/vcss.gif" alt="Valid CSS!" /></li>
                                        <li>Bootstrap version 3.3.7</li>
                                        <li>JavaScript</li>
                                        <li>Angular JS version 1.5.11</li>
                                    </ul>
                                </p>
                                <p>Disclaimers:
                                    <ul>
                                        <li>Hatsune Miku belongs to Crypton Future Media, Inc.</li>
                                        <li>Mario belongs to Nintendo Co., Ltd.</li>
                                        <li>Nyan Cat is an internet sensation on YouTube.</li>
                                        <li>Pikachu from Pokémon belongs to The Pokémon Company International and Game Freak.</li>
                                    </ul>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ close(selectedLanguage) }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
