<!DOCTYPE html>
<html ng-app="plunker">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>RCCC Small Group</title>
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <!-- CSS Link -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <!-- JavaScript Link -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script data-require="angular.js@1.5.x" src="js/angular.min.js" data-semver="1.5.11"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="" ng-controller="MainCtrl">
    <div class="container col-sm-12">
        <ul id="bar" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#thelist"><span class="glyphicon glyphicon-list"></span> 1. <span class="kkk">{{ attendance(selectedLanguage) }}</span></a></li>
            <li><a data-toggle="tab" href="#qa-timer"><span class="glyphicon glyphicon-list-alt"></span> 2. <span class="kkk">{{ qa(selectedLanguage) }}</span></a></li>
            <li><a data-toggle="tab" href="#main"><span class="glyphicon glyphicon-download-alt"></span> 3. <span class="kkk">{{ closingtime(selectedLanguage) }}</span></a></li>
            <li><a data-toggle="tab" href="#pr-timer"><span class="glyphicon glyphicon-time"></span> 4. <span class="kkk">{{ prayer(selectedLanguage) }}</span></a></li>
            <li><a data-toggle="tab" href="#settings"><span class="glyphicon glyphicon-cog"></span> <span class="kkk">{{ extras(selectedLanguage) }}</span></a></li>
        </ul>
        <div class="tab-content">
            <!-- List Tab -->
            <div id="thelist" class="tab-pane fade in active">
                <form name="myform" ng-submit="addIt()" class="input-group">
                    <input type="text" class="form-control input-lg" id="name" name="box" placeholder="{{ nameplace(selectedLanguage) }}" onkeydown="" ng-model="name" ng-disabled="spinning" required>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success btn-lg" ng-click="addIt()" ng-disabled="myform.box.$error.required">{{ add(selectedLanguage) }}</button>
                        <button type="button" class="btn btn-danger btn-lg" ng-click="reset()" ng-disabled="list.length == 0 || spinning">{{ clear(selectedLanguage) }}</button>
                    </div>
                </form>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2>{{ listof(selectedLanguage) }}</h2>
                        <h4>{{ totalcount(selectedLanguage) }}: {{ list.length }}</h4>
                    </div>
                    <div class="panel-body">
                        <p class="group" ng-repeat="n in list track by $index">{{n}}</p>
                    </div>
                </div>
            </div>
            <!-- QA Timer Tab -->
            <div id="qa-timer" class="tab-pane fade">
                <h1>{{ qa(selectedLanguage) }}</h1>
                <p class="theresult">{{ measured(selectedLanguage) }}</p>
                <p class="timercount">{{ minute1 }}:<span ng-if="timer1 <= 9">0</span>{{ timer1 }}</p>
                <p ng-if="!runtimer1"><button type="button" class="btn btn-success btn-lg btn-block" ng-click="countdown1()">{{ startbutton(selectedLanguage) }}</button></p>
                <p ng-if="runtimer1"><button type="button" class="btn btn-danger btn-lg btn-block" ng-click="endcountdown1()">{{ stopbutton(selectedLanguage) }}</button></p>
            </div>
            <!-- Main Tab -->
            <div id="main" class="tab-pane fade">
                <h1>{{ whoshall(selectedLanguage) }}?</h1>
                <p class="theresult" ng-if='selectedLanguage == "0"'>{{ result0 }}</p>
                <p class="theresult" ng-if='selectedLanguage == "1"'>{{ result1 }}</p>
                <p class="theresult" ng-if='selectedLanguage == "2"'>{{ result2 }}</p>
                <p ng-if="!spinning">
                    <span ng-if='selectedSpinner == "0"'><img src="img/fidget-spinner-green.png" class="spinner" alt="Fidget toy" /></span>
                    <span ng-if='selectedSpinner == "1"'><img src="img/wait_time_clock_alarm_loading-512.png" class="spinner" alt="Loading symbol" /></span>
                    <span ng-if='selectedSpinner == "2"'><img src="img/leekspin.jpg" class="spinner" alt="Hatsune Miku" /></span>
                    <span ng-if='selectedSpinner == "3"'><img src="img/nes-mario.jpg" class="spinner" alt="Mario" /></span>
                    <span ng-if='selectedSpinner == "4"'><img src="img/nyan-cat-stable.jpg" class="spinner" alt="Nyan Cat" /></span>
                </p>
                <p ng-if="spinning">
                    <span ng-if='selectedSpinner == "0"'><img src="img/hand-spinner-fidget-toy.gif" class="spinner" alt="Fidget toy" /></span>
                    <span ng-if='selectedSpinner == "1"'><img src="img/loading.gif" class="spinner" alt="Loading symbol" /></span>
                    <span ng-if='selectedSpinner == "2"'><img src="img/mikuspinning.gif" class="spinner" alt="Hatsune Miku" /></span>
                    <span ng-if='selectedSpinner == "3"'><img src="img/mariowalking.gif" class="spinner" alt="Mario" /></span>
                    <span ng-if='selectedSpinner == "4"'><img src="img/nyan-cat.gif" class="spinner" alt="Nyan Cat" /></span>
                </p>
                <p ng-if="!spinning"><button type="button" id="spin-button" class="btn btn-default btn-lg btn-block" ng-click="myFunction()" ng-disabled="list.length < 2 || spinning">{{ gobutton(selectedLanguage) }}</button></p>
            </div>
            <!-- Prayer Timer Tab -->
            <div id="pr-timer" class="tab-pane fade">
                <h1>{{ prayer(selectedLanguage) }}</h1>
                <p class="theresult">{{ measured(selectedLanguage) }}</p>
                <p class="timercount">{{ minute2 }}:<span ng-if="timer2 <= 9">0</span>{{ timer2 }}</p>
                <p ng-if="!runtimer2"><button type="button" class="btn btn-success btn-lg btn-block" ng-click="countdown2()">{{ startbutton(selectedLanguage) }}</button></p>
                <p ng-if="runtimer2"><button type="button" class="btn btn-danger btn-lg btn-block" ng-click="endcountdown2()">{{ stopbutton(selectedLanguage) }}</button></p>
            </div>
            <!-- Extras Tab -->
            <div id="settings" class="tab-pane fade">
                <h3>{{ settings(selectedLanguage) }}</h3>
                <div class="list-group">
                    <label for="selectedLanguage">{{ language(selectedLanguage) }}:</label>
                    <select class="form-control" id="selectedLanguage" ng-model="selectedLanguage">
                        <option value="0">English</option>
                        <option value="1">繁体中文</option>
                        <option value="2">简体中文</option>
                    </select>
                    <label for="selectedSpinner">{{ spinningthing(selectedLanguage) }}:</label>
                    <select class="form-control" id="selectedSpinner" ng-model="selectedSpinner">
                        <option value="0">Fidget toy</option>
                        <option value="1">Loading symbol</option>
                        <option value="2">Hatsune Miku</option>
                        <option value="3">Mario</option>
                        <option value="4">Nyan Cat</option>
                    </select>
                </div>
                <h3>{{ about(selectedLanguage) }}</h3>
                <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal1">{{ terms(selectedLanguage) }}</button>
                <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal2">{{ credits(selectedLanguage) }}</button>
                <!-- Modal -->
                <div id="myModal1" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{ terms(selectedLanguage) }}</h4>
                            </div>
                            <div class="modal-body">
                                <p>Terms are available in English (US) only. By using this app, you agree with these terms and conditions. Otherwise, you should not be using the application. You can only agree with these terms if you're 12 or older. We may update these terms periodically, but we won't ruin your fun. Thank you for using RCCC Small Group. Please take some time to read this user agreement before using this app.</p>
                                <ol>
                                    <li>Fellowship Groups: You must be a counselor, caretaker, or group leader to use the app.</li>
                                    <li>Liability: We are not responsible for any damages, or data loss.</li>
                                    <li>Warranty Information: We don't do warranties.</li>
                                </ol>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ close(selectedLanguage) }}</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="myModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{ credits(selectedLanguage) }}</h4>
                            </div>
                            <div class="modal-body">
                                <p>Designed by Max Kung</p>
                                <p>Programmed by Max Kung</p>
                                <p>Special thanks to Antioch Hwang and spin the bottle game</p>
                                <p>
                                    Programming:
                                    <ul>
                                        <li>HTML 5</li>
                                        <li>CSS 3 <img style="border:0;width:88px;height:31px" src="img/vcss.gif" alt="Valid CSS!" /></li>
                                        <li>Bootstrap version 3.3.7</li>
                                        <li>Angular JS version 1.5.11</li>
                                    </ul>

                                </p>
                                <p>
                                    Disclaimers:
                                    <ul>
                                        <li>Hatsune Miku belongs to Crypton Future Media, Inc.</li>
                                        <li>Mario belongs to Nintendo Co., Ltd.</li>
                                        <li>Nyan Cat is an internet sensation on YouTube.</li>
                                    </ul>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{ close(selectedLanguage) }}</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>