/* CSS 3 Document */

body {
    background-color: #ffffff;
    background: url("../img/background-image.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: "Arial", sans-serrif;
}

/* All */
#main,
#pr-timer,
#qa-timer,
#thelist {
    text-align: center;
}

#bar {
    background-color: #efefef;
    font-size: 16pt;
}

#mainapp {
    margin-top: 25px;
}

/* List Tab */
#thelist {
    padding-bottom: 10px;
}

.group {
    font-size: 20pt;
    text-align: left;
}

.theresult {
    font-size: 16pt;
}

/* Timers Tab */
.timercount {
    font-size: 7em;
}

/* Main Tab */
#spin-button {
    position: relative;
}

.spinner {
    width: 25%;
    display: block;
    margin: auto;
    background-color: #ffffff;
}

/* Extras Tab */
.modal-footer {
    background-color: #384b5f;
}

.modal-header {
    background-color: #2c3e50;
    color: #fff;
}

@media only screen and ( max-width: 1028px ) { /* For medium devices */

    /* List Tab */
    .group {
        font-size: 20pt;
        text-align: left;
    }

    /* Main Tab */
    .spinner {
        width: 50%;
        display: block;
        margin: auto;
    }
}

@media only screen and ( max-width: 850px ) { /* For small devices */

    /* All */
    #bar {
        font-size: 12pt;
    }
}

@media only screen and ( max-width: 750px ) { /* For mobile devices widescreen */

    /* All */
    #bar {
        font-size: 10pt;
    }
}

@media only screen and ( max-width: 414px ) { /* For phablets */

    /* All */
    #bar {
        position: fixed;
        bottom: 0px;
        font-size: 14pt;
    }

    .kkk {
        display: none;
    }

    /* List Tab */
    #thelist {
        padding-bottom: 40px;
    }

    .group {
        font-size: 16pt;
        text-align: left;
    }

    /* Main Tab */
    .spinner {
        width: 100%;
        display: block;
        margin: auto;
    }
}

@media only screen and ( max-width: 374px ) { /* For small mobile devices */

    /* All */
    #bar {
        position: fixed;
        bottom: 0px;
        font-size: 10pt;
    }

    .kkk {
        display: none;
    }

    /* List Tab */
    #thelist {
        padding-bottom: 30px;
    }

    .group {
        font-size: 16pt;
        text-align: left;
    }

    /* Main Tab */
    .spinner {
        width: 100%;
        display: block;
        margin: auto;
    }
}
