/* CSS 3 Document */

body {
    background-color: #ffffff;
    background: url("../img/background-image.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: "PingFangSC-Regular", "Microsoft JhengHei", "Arial", sans-serif;
}

/* All */
#main,
#qa-timer,
#thelist {
    text-align: center;
}

#bar {
    background-color: #efefef;
    font-size: 16pt;
}

.kkk {
    display: none;
}

/* Attendance tab */
#listinfo {
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: #adadad;
}

#listheader {
    color: #fff;
    background-color: #19475e;
    padding-top: 10px;
    padding-bottom: 5px;
}

#listbody {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

.group {
    font-size: 20pt;
    text-align: left;
}

/* Randomizer tab */
.theintro {
    font-size: 25pt;
}

.theresult {
    font-size: 16pt;
}

/* Timer tab */
.timercount { /* Default timer */
    font-family: "Arial", sans-serif;
    font-size: 7em;
    color: #000;
    background-color: #fff;
    padding: 5px 15px 5px 15px;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: #000;
    box-shadow: 10px 10px 5px grey;
}

.reverse { /* Theme 1 */
    color: #fff;
    background-color: #000;
    border-color: #fff;
}

.radar { /* Theme 2 */
    color: #2fd000;
    background-color: #1d1d1d;
    border-color: #b5b5b5;
}

.rcccec { /* Theme 3 */
    color: #ccc;
    background-color: #384b5f;
    border-color: #8d98a3;
}

.n-strike { /* Theme 4 */
    color: #ff4e00;
    background-color: #0000ee;
    border-color: #ff4e00;
}

.rebelle { /* Theme 5 */
    color: #ff3dbf;
    background-color: #ffffff;
    border-color: #c600ff;
}

.usa { /* Theme 6 */
    color: #00f;
    background-color: #fff;
    border-color: #f00;
}

.china { /* Theme 7 */
    color: #ff0;
    background-color: #f00;
    border-color: #ff0;
}

.taiwan { /* Theme 8 */
    color: #ffffff;
    background-color: #0000b9;
    border-color: #ec0000;
}

.hongkong { /* Theme 9 */
    color: #efefef;
    background-color: #de0101;
    border-color: #ff0000;
}

/* Randomizer tab */
#spin-button {
    position: relative;
}

.spinner {
    width: 25%;
    display: block;
    margin: auto;
    background-color: #ffffff;
}

/* Extras tab */
#settings {
    padding-top: 10px;
}

.modal-header {
    background-color: #2c3e50;
    color: #fff;
}

.modal-footer {
    background-color: #384b5f;
}

.credit-p {
	text-align: center;
}

.credit-title {
	font-size: 12pt;
	color: #008bac;
}

.credit-person {
	font-size: 14pt;
}

.credit-symbol {
	font-size: 11pt;
}

.credit-company {
	font-size: 13pt;
}

/* Scroll */
@media only screen and ( max-height: 1024px ) { /* ipad classic portrait ipad pro landscape */
    #listinfo {
        overflow-y: scroll;
        max-height: 952px;
    }
}

@media only screen and ( max-height: 768px ) { /* ipad classic landscape */
    #listinfo {
        overflow-y: scroll;
        max-height: 677px;
    }
}

@media only screen and ( max-height: 736px ) { /* iphone 8 + */
    #listinfo {
        overflow-y: scroll;
        max-height: 658px;
    }

    .modal-body {
        overflow-y: scroll;
        max-height: 585px;
    }
}

@media only screen and ( max-height: 667px ) { /* iphone 8 */
    #listinfo {
        overflow-y: scroll;
        max-height: 592px;
    }

    .modal-body {
        overflow-y: scroll;
        max-height: 485px;
    }
}

@media only screen and ( max-height: 568px ) { /* iphone SE */
    #listinfo {
        overflow-y: scroll;
        max-height: 497px;
    }

    .modal-body {
        overflow-y: scroll;
        max-height: 385px;
    }
}

@media only screen and ( max-width: 1028px ) { /* For medium devices */
    .group {
        font-size: 20pt;
        text-align: left;
    }

    .spinner {
        width: 50%;
        display: block;
        margin: auto;
    }
}

@media only screen and ( max-width: 850px ) { /* For small devices */
    #bar {
        font-size: 12pt;
    }
}

@media only screen and ( max-width: 750px ) { /* For mobile devices widescreen */
    #bar {
        font-size: 10pt;
    }
}

@media only screen and ( max-width: 414px ) { /* For phablets and mobile devices */
    #bar {
        position: fixed;
        bottom: 0px;
        width: 100%;
        font-size: 8pt;
    }

    .group {
        font-size: 16pt;
        text-align: left;
    }

    .theintro {
        font-size: 20pt;
    }

    .theresult {
        font-size: 14pt;
    }

    .kkk {
        display: inline;
    }

    .spinner {
        width: 100%;
        display: block;
        margin: auto;
    }
}
