/* CSS 3 Document */

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/DBK5HLU1.ttf) format('truetype');
}

@font-face {
    font-family: mySecondFont;
    src: url(../fonts/DFBK5B00.ttf) format('truetype');
}

@font-face {
    font-family: myThirdFont;
    src: url(../fonts/DHM5UUA1.ttf) format('truetype');
}

body {
    background-color: rgb(187, 187, 187); /* For browsers that do not support gradients */
    background-image: linear-gradient(to top, rgb(187, 187, 187), rgba(227, 248, 253, 1)); /*Standard*/
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue", "Microsoft JhengHei", "Arial", sans-serif;
    color:rgb(0, 0, 0);
}

.lightmode {
    background-color: #ffffff;
}

.darkmode {
    background-color: #303030;
}

/* All */
#main,
#qa-timer,
#thelist {
    padding-top: 50px;
    text-align: center;
}

#bar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #efefef;
    font-size: 16pt;
}

.kkk {
    display: none;
}

/* My List pane */
#listinfo {
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: #adadad;
}

#listheader {
    color: #fff;
    background-color: #19475e;
    padding-top: 10px;
    padding-bottom: 5px;
}

#listbody {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

.confirm-body {
    color: #000;
}

.group {
    font-size: 20pt;
    text-align: left;
}

/* Randomizer pane */
#spin-button {
    position: relative;
}

.spinner {
    width: 25%;
    display: block;
    margin: auto;
    background-color: #ffffff;
}

.theintro {
    font-size: 25pt;
}

.theresult {
    font-size: 16pt;
}

/* Timer pane */
.timercount { /* Default timer */
    font-family: "Arial", sans-serif;
    font-size: 7em;
    color: #000;
    background-color: #fff;
    padding: 5px 15px 5px 15px;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: #000;
    box-shadow: 10px 10px 5px grey;
}

.reverse { /* Theme 1 */
    color: #fff;
    background-color: #000;
    border-color: #fff;
}

.radar { /* Theme 2 */
    color: #2fd000;
    background-color: #1d1d1d;
    border-color: #b5b5b5;
}

.rcccec { /* Theme 3 */
    color: #ccc;
    background-color: #384b5f;
    border-color: #8d98a3;
}

.n-strike { /* Theme 4 */
    color: #ff6c16;
    background-color: #0000ee;
    border-color: #ff6c16;
}

.rebelle { /* Theme 5 */
    color: #ff00ab;
    background-color: #e8d4ff;
    border-color: #9f00ff;
}

.usa { /* Theme 6 */
    color: #00f;
    background-color: #fff;
    border-color: #f00;
}

.china { /* Theme 7 */
    color: #ff0;
    background-color: #f00;
    border-color: #ff0;
}

.taiwan { /* Theme 8 */
    color: #ffffff;
    background-color: #0000b9;
    border-color: #ec0000;
}

.hongkong { /* Theme 9 */
    color: #efefef;
    background-color: #de0101;
    border-color: #ff0000;
}

/* Extras pane */
#settings {
    padding-top: 60px;
}

.modal-header {
    background-color: #2c3e50;
    color: #fff;
}

.modal-footer {
    background-color: #384b5f;
}

.credit-p {
	text-align: center;
}

.credit-title {
	font-size: 10pt;
	color: #008bac;
}

.credit-person {
	font-size: 12pt;
}

.credit-symbol {
	font-size: 9pt;
}

.credit-company {
	font-size: 11pt;
}

.terms-body {
    font-size: 12pt;
}

@media only screen and ( max-width: 1028px ) { /* For medium devices */
    .group {
        font-size: 20pt;
        text-align: left;
    }

    .spinner {
        width: 50%;
        display: block;
        margin: auto;
    }
}

@media only screen and ( max-width: 750px ) {
    #main,
    #qa-timer,
    #thelist {
        padding-top: 43px;
    }

    #settings {
        padding-top: 53px;
    }

    #bar {
        font-size: 12pt;
    }
}

@media only screen and ( max-width: 600px ) {
    #main,
    #qa-timer,
    #thelist {
        padding-top: 57px;
    }

    #settings {
        padding-top: 67px;
    }

    #bar {
        font-size: 10pt;
    }

    .kkk {
        display: inline;
    }

	.nnn {
		display: none;
	}
}

@media only screen and ( max-width: 414px ) { /* For phablets and mobile devices */
    .group {
        font-size: 16pt;
        text-align: left;
    }

    .theintro {
        font-size: 20pt;
    }

    .theresult {
        font-size: 14pt;
    }

    .spinner {
        width: 100%;
        display: block;
        margin: auto;
    }

    #main,
    #qa-timer,
    #thelist {
        padding-top: 0px;
    }

    #settings {
        padding-top: 10px;
    }

    #bar {
        position: fixed;
        bottom: 0px;
        z-index: 1;
        width: 100%;
        font-size: 8pt;
    }

    #listinfo {
        overflow-y: scroll;
        max-height: 497px;
    }

    .kkk {
        display: inline;
    }

    .modal-body {
        overflow-y: scroll;
        max-height: 385px;
    }

    .terms-body {
        font-size: 9pt;
    }

    .shuffler {
        padding-bottom: 70px;
    }
}
